/* Style the topna.topnav with a grey background and some padding */
.topnav {
  overflow: hidden;
  background-color: #edede3;
  padding: 20px 10px;
}

/* Style the topna.topnav links */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the background color on mouse-over */
.topnav a:hover {
  background-color: #edede3;
  color: black;
}

/* Style the active/current link*/
.topnav a.active {
  background-color: #363636;
  color: white;
}


.topnav .search-container {
  float: right;
  margin-right: 50px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-cards {
  display: flex;
  flex-wrap: wrap;
}

.hihglight-title{
  margin-left: 45%;
  color: #edede3;
}


.search-card {
  margin: 10px;
  padding: 10px;
  background-color: #edede3;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 500px;
  min-height: 275px;
  margin-left: 40%;
}

.search-card:hover {
  box-shadow: 0 0 10px #888;
}

.search-card-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.search-card-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right {
    float: none;
  }

  .topnav .search-container {
    float: none;
    margin-right: 0px;
  }

  .topnav input[type=text] {
    width: 100%;
    margin-top: 0;
  }
}

/* @media screen and (max-width: 500px) {

  .hihglight-title {
    margin-left: 15px;
  }
  .highlight-card {
    margin-left: 25px;
    width: 100%;
  }

  .highlight-card-title {
    font-size: 16px;
    margin-bottom: 10px;
    width: 230px;
    padding-left: 5%;
  }
} */