  .highlight-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .hihglight-title{
    margin-left: 45%;
    color: #edede3;
  }
  
  .highlight-card {
    margin: 10px;
    padding: 10px;
    background-color: #edede3;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 500px;
    min-height: 275px;
    margin-left: 40%;
  }
  
  .highlight-card:hover {
    box-shadow: 0 0 10px #888;
  }
  
  .highlight-card-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .highlight-card-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  a:link {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 500px) {

    .hihglight-title {
      margin-left: 15px;
    }
    .highlight-card {
      margin-left: 25px;
      width: 100%;
    }

    .highlight-card-title {
      font-size: 16px;
      margin-bottom: 10px;
      width: 230px;
      padding-left: 5%;
    }
  }